h1 {
  text-transform: capitalize;
  padding: 5px 38px 0px;
  font-size: 30px;
  margin: 0;
  line-height: 0.5;
}
.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
}
p::first-letter {
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.degree-unit {
  position: relative;
  top: -34px;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:active {
  font-weight: bold;
}

.container {
  margin: 50px auto;
  width: 50%;
}

.input-city {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.weather-today {
  margin: 20px 20px 0;
}

.weather-today img {
  margin: 5px 5px 0;
  width: 64px;
  height: 64px;
}

.weather-today strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.other-weather-parameters {
  margin: 0 10px 5px;
}

.weather-date-description {
  margin-left: 20px;
}

.weather-forecast {
  margin: 20px 0;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
